{% extends 'base.html.twig' %}

{% block body %}
    
<br>
<div class="register">
    <center>
        <div class="h1">
            <h1>Register</h1>
        </div>
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}<br>

    <button type="submit">Register!</button><br><br>
    {{ form_end(form) }}
    </center>
</div>

{% endblock %}