{% extends 'base.html.twig' %}
{% block toolbar%}
    <li><a>||</a></li>
    <li><a href="/gameshow/create/quiz/{{ quiz_id }}/question/{{ question_id }}/create">Create answer</a></li>
{% endblock %}
{% block body %}
    <style type="text/css">

        table {
            width: 100%; /* Ширина таблицы */
        }
        td { padding: 5px; }
        tr.col1 { background: #ffbf50; color: blue; }
        tr.col2 { background: #ffa500; color: blue; }
        tr.col3 { background: yellow; }
    </style>

    <h1 style="color: silver">Answer table</h1>

<table border="1">
    <tr class="col2">
        <th>Text</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for answer in answers %}
        <tr class="col1">
            <th>{{ answer.text }}</th>
            <th><a href="/gameshow/create/quiz/{{ quiz_id }}/question/{{ question_id }}/answer/{{ answer.id }}/update" class="c">Update</a></th>
            <th><a href="/gameshow/create/quiz/{{ quiz_id }}/question/{{ question_id }}/answer/{{ answer.id }}/delete" class="c">Delete</a></th>
        </tr>
    {% endfor %}
</table>
{% endblock %}